

/* @import 'bootstrap/dist/css/bootstrap.min.css'; */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .btn{
    @apply px-8 py-2 bg-purple-500 text-white font-bold text-xl border-2 border-solid border-black m-4 
  }
}

.menu{
  position: relative;
}

.nav-link{

}
.nav-link:hover .dropdown{

}

.dropdown{
  position: absolute;
  width: 100vw;
  background-color: gray;
  height: 50vh;
  left: 0;
}
