
.navbar{
  background-color: gray;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a img{
  height: 80px;
}
.nav-items ul{
  display: flex;
  align-items: center;
  list-style-type: none;
}
.nav-items ul li{
  margin-left:50px;
}
.nav-items ul li a{
  font-size: 22px;
  font-weight: bold;
  color:white;
  text-decoration: none;
}

  